<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="./../css/packs.style.css">
  <title>Cards</title>
</head>
<body>

<header></header>

  <div class="allCards">
  </div>
  <button type="button" class="returnToPacks">Return to Packs</button>


<footer></footer>


<script src="./js/global.script.ts"></script>
<script src="./js/loader.script.js" id="loader"></script>
<script src="./js/header.script.js"></script>
<script src="./js/cards.script.js"></script>
</body>
</html>