<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/form.style.css">
    <link rel="stylesheet" href="./css/popup.style.css">
    <title>Edit Password</title>
</head>
<body>

<header></header>

<header></header>

<div id="popUpContainer"></div>

<form class="form" action="editPassword" method="post">
    <div class="formRow">
        <input type="text"  id="username" name="username" placeholder="Enter your new username">
        <input type="password" id="exPassword" name="exPassword" placeholder="Enter your actual password">
    </div>

    <div class="formRow">
        <input type="password" id="password" name="password" placeholder="Enter your new password">
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your new password">
    </div>
    <div class="formRow">
        <input id="submit" disabled="disabled" type="submit" value="Log in"/>
    </div>
</form>

<footer></footer>


<script src="./js/global.script.js"></script>
<script src="./js/loader.script.js"></script>
<script src="./js/editPassword.script.js"></script>
<script src="./js/header.script.js"></script>
<script src="./js/regex.script.js"></script>

</body>
</html>