<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

    <header></header>

    <h1>Profile</h1>
    <p>
        <a href="/edit">Edit</a>
    </p>
    <p>
        <a href="/password">Modify password</a>
    </p>
    <p>
        <a href="/delete">Delete</a>
    </p>
    <p>
        <a href="/myPacks">My Packs</a>
    </p>
    <p>
        <a id="logout" href="/">Logout</a>
    </p>


    <footer></footer>

    <script src="./js/global.script.ts"></script>
    <script src="./js/loader.script.js" id="loader"></script>
    <script src="./js/header.script.js"></script>
    <script src="./js/footer.script.js"></script>
    <script src="./js/profile.script.js"></script>
</body>

</html>