<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/profile.style.css">

</head>

<body>

    <header></header>

    <div class="parent">

        <div class="div1">

            <div class="cadre">

                <div class="profileContainer">

                    <h1>Profile</h1>

                    <div class="buttonContainer">
                        <p>
                            <button id="edit">Edit</button>
                        </p>
                        <p>
                            <button id="modifyPassword">Modify password</button>
                        </p>
                        <p>
                            <button id="delete">Delete Account</button>
                        </p>
                        <p>
                            <button id="myPacks">My Packs</button>
                        </p>
                        <p>
                            <button id="myCards">My Cards</button>
                        </p>
                        <p>
                            <button id="logout">Logout</button>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="div2">
            <h2 id="myCardsTitle">-My Cards</h2>
            <div class="allCards">
                <p>test</p>
            </div>
        </div>
    </div>

    <footer></footer>

    <script src="./js/global.script.ts"></script>
    <script src="./js/loader.script.js" id="loader"></script>
    <script src="./js/header.script.js"></script>
    <script src="./js/footer.script.js"></script>
    <script src="./js/profile.script.js"></script>
</body>

</html>