<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head></head>

<body>
    <header class="header"></header>


    <form  class="form" method="post" action="./js/register.script.js">
        <!-- Add an input for username, email and password and confirm password -->
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
    </form>

    <footer></footer>

    <script src="./js/loader.script.js" id="loader"></script>
</body>

</html>