@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    display: flex;
    //background-color: #f5f5f5;
    background-color: #141414;
    max-height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .firstNav{
        display: flex;
        justify-content: space-between;

    }
    #logo {
        img {
            width: 40%;
            margin-left: 30px;
            max-width: 120px;
            height: auto;
        }
    }
    h1 {
        font-size: 2.5em;
        color: #000;
        margin-left: 10%;
        padding: 0;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .navColumn{
            display: flex;
            //flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            margin-right: 1em;
            button {
                margin-left: 5px;
                margin-right: 5px;

                padding: 8px;
                color: #000;
                font-size: 1.2em;
                font-weight: bold;
                &:hover {
                    color: #000;
                    cursor: pointer;
                }
            }
            #login{
                background-color: dodgerblue;
                border-radius: 5px;
                border: none;
                color: #fff;
            }
            #register{
                background-color: white;
                border-radius: 5px;
                border: none;
            }
        }

        li {
            list-style: none;
            margin: 0;
            padding: 0;
            a {
                color: white;
                text-decoration: none;
                font-size: 1.2em;
                padding-right: 30px;
                font-weight: bold;
                &:hover {
                    color: dodgerblue;
                }
            }
        }
    }
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#141414 10% , dodgerblue);
    height: 50vh;
    .infoContent {
        h1 {
            font-size: 2.5em;
            color: #fff;
        }

        p {
            font-size: 1.2em;
            color: #fff;
        }
    }
}


footer {
    //background-color: #f5f5f5;
    background-color: #141414;
    align-items: center;
    padding: 1em;
    #footer {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        bottom: 0;
        line-height: 200%;
        .socials {
            display: flex;
            flex-direction: row;
            .logo {
                text-decoration: none;
                color: rgb(29, 29, 55);
                font-size: 1.4em;
                padding-left: 40px;
            }
            .fa-facebook {
                color: rgb(0, 71, 163);
                &:hover {
                    font-size: 110%;
                    color: rgb(0, 50, 114);
                }
            }
            .fa-twitter {
                color: rgb(118, 174, 210);
                &:hover {
                    font-size: 110%;
                    color: rgb(97, 144, 177);
                }
            }
            .fa-instagram {
                background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                &:hover {
                    font-size: 110%;
                    background: -webkit-linear-gradient(45deg, #3551de, #4039c9, #7e2fb3, #ad1f6f, #b11d4e, #ce1313);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                }
            }
        }
        h4 {
            font-size: 1.2em;
            color: #fff;
            padding-right: 30px;
            font-weight: bold;
        }
        a {
            text-decoration: none;
        }
    }
}