@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    display: flex;
    //background-color: #f5f5f5;
    background-color: #141414;
    max-height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .firstNav {
        display: flex;
        justify-content: space-between;
    }
    #logo {
        img {
            width: 70%;
            margin-left: 30px;
            max-width: 120px;
            height: auto;
        }
    }
    h1 {
        font-size: 2.5em;
        color: #000;
        margin-left: 10%;
        padding: 0;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .navColumn {
            display: flex;
            //flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            margin-right: 1em;
            button {
                margin-left: 5px;
                margin-right: 5px;
                padding: 8px;
                color: #000;
                font-size: 1.2em;
                font-weight: bold;
                &:hover {
                    color: #000;
                    cursor: pointer;
                }
            }
            #login {
                background-color: dodgerblue;
                border-radius: 5px;
                border: none;
                color: #fff;
            }
            #register {
                background-color: white;
                border-radius: 5px;
                border: none;
            }
        }
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            a {
                color: white;
                text-decoration: none;
                font-size: 1.2em;
                padding-right: 30px;
                font-weight: bold;
                &:hover {
                    color: dodgerblue;
                }
            }
        }
    }
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#141414 10%, dodgerblue);
    height: 100%;
    .infoContent {
        h1 {
            font-size: 2.5em;
            color: #fff;
        }
        h3 {
            margin-top: 1em;
            font-size: 1.2em;
            color: #ffffff;
        }
    }
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 7vh 0 3vh;
        //overflow:hidden;
        .carousel {
            display: block;
            width: 100%;
            height: 100%;
            overflow-x: scroll;
            padding: 10px;
            margin: 0;
            white-space: nowrap;
            //hide scrollbar
            scrollbar-width: none;
            /* Firefox */
            -ms-overflow-style: none;
            /* IE 10+ */
            &::-webkit-scrollbar {
                width: 0;
                background: transparent;
                /* Chrome/Safari/Webkit */
            }
        }
        .item {
            display: inline-block;
            width: 180px;
            margin: 0 10px;
            height: 300px;
            background: rgba(0, 0, 0, 0.05) no-repeat center center;
            background-size: cover;
            position: relative;
            box-shadow: 0 0 10px #dfdfdf;
            div {
                width: 100%;
                top: 10%;
                position: absolute;
                text-align: center;
                font-size: 1em;
                color: white;
            }
            h1 {
                top: 50%;
                position: absolute;
                color: white;
                text-align: center;
                width: 100%;
                font-size: 1em;
            }
        }
        #img1 {
            background-image: url("../img/packart/colorless/1.jpg");
        }
        #img2 {
            background-image: url("../img/packart/colorless/2.jpg");
        }
        #img3 {
            background-image: url("../img/packart/colorless/3.jpg");
        }
        #img4 {
            background-image: url("../img/packart/colorless/4.jpg");
        }
        #img5 {
            background-image: url("../img/packart/darkness/1.jpg");
        }
        #img6 {
            background-image: url("../img/packart/darkness/2.jpg");
        }
        #img7 {
            background-image: url("../img/packart/dragon/1.jpg");
        }
        #img8 {
            background-image: url("../img/packart/dragon/2.jpg");
        }
        #img9 {
            background-image: url("../img/packart/dragon/3.jpg");
        }
        #img10 {
            background-image: url("../img/packart/dragon/4.jpg");
        }
    }
}

.collectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#cee2ff 10%, #ffffff);
    padding: 7vh 0 3vh;
    height: 100%;
    .collect {
        width: 100%;
        h1 {
            margin: 0 0 1em 1em;
            font-size: 2.5em;
            color: #141414;
        }
        p {
            font-size: 1.2em;
            color: #141414;
        }
        .imageContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            .item {
                display: inline-block;
                width: 250px;
                margin: 0 10px;
                height: 350px;
                background: rgba(0, 0, 0, 0.05) no-repeat center center;
                background-size: cover;
                position: relative;
                box-shadow: 0 0 10px #141414;
                border-radius: 10px;
            }
            #img11 {
                background-image: url(https://images.pokemontcg.io/sma/SV59.png);
            }
            #img12 {
                background-image: url(https://images.pokemontcg.io/swsh45sv/SV107.png);
            }
        }
    }
}

footer {
    background-color: #141414;
    align-items: center;
    padding: 1em;
    #footer {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        bottom: 0;
        line-height: 200%;
        .socials {
            display: flex;
            flex-direction: row;
            .logo {
                text-decoration: none;
                color: rgb(29, 29, 55);
                font-size: 1.4em;
                padding-left: 40px;
            }
            .fa-facebook {
                color: rgb(0, 71, 163);
                &:hover {
                    font-size: 110%;
                    color: rgb(0, 50, 114);
                }
            }
            .fa-twitter {
                color: rgb(118, 174, 210);
                &:hover {
                    font-size: 110%;
                    color: rgb(97, 144, 177);
                }
            }
            .fa-instagram {
                background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                &:hover {
                    font-size: 110%;
                    background: -webkit-linear-gradient(45deg, #3551de, #4039c9, #7e2fb3, #ad1f6f, #b11d4e, #ce1313);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                }
            }
        }
        h4 {
            font-size: 1.2em;
            color: #fff;
            padding-right: 30px;
            font-weight: bold;
        }
        a {
            text-decoration: none;
        }
    }
}

:root {
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
    --back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
    --charizard1: #fac;
    --charizard2: #ddccaa;
    --charizardfront: url(https://assets.codepen.io/13471/charizard-gx.webp);
    --pika1: #54a29e;
    --pika2: #a79d66;
    --pikafront: url(https://assets.codepen.io/13471/pikachu-gx.webp);
    --eevee1: #efb2fb;
    --eevee2: #acc6f8;
    --eeveefront: url(https://assets.codepen.io/13471/eevee-gx.webp);
    --mewtwo1: #efb2fb;
    --mewtwo2: #acc6f8;
    --mewtwofront: url(https://assets.codepen.io/13471/mewtwo-gx.webp);
}



.card {

    width: 71.5vw;
    height: 100vw;
    // width: clamp(200px, 61vh, 18vw);
    // height: clamp(280px, 85vh, 25.2vw);
    @media screen and (min-width: 600px) {
        // width: 61vh;
        // height: 85vh;
        // max-width: 500px;
        // max-height: 700px;
        width: clamp(12.9vw, 61vh, 18vw);
        height: clamp(18vw, 85vh, 25.2vw);
    }

    position: relative;
    overflow: hidden;
    margin: 20px;
    overflow: hidden;
    z-index: 10;
    touch-action: none;

    border-radius: 5% / 3.5%;
    box-shadow:
            -5px -5px 5px -5px var(--color1),
            5px 5px 5px -5px var(--color2),
            -7px -7px 10px -5px transparent,
            7px 7px 10px -5px transparent,
            0 0 5px 0px rgba(255,255,255,0),
            0 55px 35px -20px rgba(0, 0, 0, 0.5);

    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;

    background-color: #040712;
    background-image: var(--front);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;

}

.card:hover {
    box-shadow:
            -20px -20px 30px -25px var(--color1),
            20px 20px 30px -25px var(--color2),
            -7px -7px 10px -5px var(--color1),
            7px 7px 10px -5px var(--color2),
            0 0 13px 4px rgba(255,255,255,0.3),
            0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.charizard {
    --color1: var(--charizard1);
    --color2: var(--charizard2);
    --front: var(--charizardfront);
}
.card.pika {
    --color1: var(--pika1);
    --color2: var(--pika2);
    --front: var(--pikafront);
}
.card.mewtwo {
    --color1: var(--mewtwo1);
    --color2: var(--mewtwo2);
    --front: var(--mewtwofront);
}
.card.eevee {
    --color1: #ec9bb6;
    --color2: #ccac6f;
    --color3: #69e4a5;
    --color4: #8ec5d6;
    --color5: #b98cce;
    --front: var(--eeveefront);
}

.card:before,
.card:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    transition: all .33s ease;
}

.card:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(
                    115deg,
                    transparent 0%,
                    var(--color1) 25%,
                    transparent 47%,
                    transparent 53%,
                    var(--color2) 75%,
                    transparent 100%
    );
    opacity: .5;
    filter: brightness(.5) contrast(1);
    z-index: 1;
}

.card:after {
    opacity: 1;
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
    url(https://assets.codepen.io/13471/holo.png),
    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all .33s ease;
    mix-blend-mode: color-dodge;
    opacity: .75;
}

.card.active:after,
.card:hover:after {
    filter: brightness(1) contrast(1);;
    opacity: 1;
}

.card.active,
.card:hover {
    animation: none;
    transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
    animation: none;
    background-image: linear-gradient(
                    110deg,
                    transparent 25%,
                    var(--color1) 48%,
                    var(--color2) 52%,
                    transparent 75%
    );
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: .88;
    filter: brightness(.66) contrast(1.33);
    transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
    animation: none;
    transition: none;
}

.card.animated {
    transition: none;
    animation: holoCard 12s ease 0s 1;
    &:before {
        transition: none;
        animation: holoGradient 12s ease 0s 1;
    }
    &:after {
        transition: none;
        animation: holoSparkle 12s ease 0s 1;
    }
}




@keyframes holoSparkle {
    0%, 100% {
        opacity: .75; background-position: 50% 50%; filter: brightness(1.2) contrast(1.25);
    }
    5%, 8% {
        opacity: 1; background-position: 40% 40%; filter: brightness(.8) contrast(1.2);
    }
    13%, 16% {
        opacity: .5; background-position: 50% 50%; filter: brightness(1.2) contrast(.8);
    }
    35%, 38% {
        opacity: 1; background-position: 60% 60%; filter: brightness(1) contrast(1);
    }
    55% {
        opacity: .33; background-position: 45% 45%; filter: brightness(1.2) contrast(1.25);
    }
}

@keyframes holoGradient {
    0%, 100% {
        opacity: 0.5;
        background-position: 50% 50%;
        filter: brightness(.5) contrast(1);
    }
    5%, 9% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(.75) contrast(1.25);
    }
    13%, 17% {
        background-position: 0% 0%;
        opacity: .88;
    }
    35%, 39% {
        background-position: 100% 100%;
        opacity: 1;
        filter: brightness(.5) contrast(1);
    }
    55% {
        background-position: 0% 0%;
        opacity: 1;
        filter: brightness(.75) contrast(1.25);
    }
}

@keyframes holoCard {
    0%, 100% {
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    5%, 8% {
        transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
    }
    13%, 16% {
        transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
    }
    35%, 38% {
        transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
    }
    55% {
        transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
    }
}



.card.eevee:hover {
    box-shadow:
            0 0 30px -5px white,
            0 0 10px -2px white,
            0 55px 35px -20px rgba(0, 0, 0, 0.5);
}
.card.eevee:hover:before,
.card.eevee.active:before {
    background-image: linear-gradient(
                    115deg,
                    transparent 20%,
                    var(--color1) 36%,
                    var(--color2) 43%,
                    var(--color3) 50%,
                    var(--color4) 57%,
                    var(--color5) 64%,
                    transparent 80%
    );
}

.demo .card {
    background-image: var(--back);
    font-size: 2vh
}
.demo .card > span {
    position: relative;
    top: 45%;
}

.demo .card:nth-of-type(1),
.demo .card:nth-of-type(2),
.demo .card:nth-of-type(3) {
    width: 20vh;
    height: 27.5vh;
    box-shadow: inset 0 0 0 1px rgba(white,0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);
    animation: none;
}

.demo .card:nth-of-type(1),
.demo .card:nth-of-type(2),
.demo .card:nth-of-type(3) {
    &:before, &:after {
        animation: none;
        // opacity: 1;
    }
}
.demo .card:nth-of-type(1) {
    &:before, &:after { display: none; }
}
.demo .card:nth-of-type(2) {
    background: none;
    &:before { display: none; }
}
.demo .card:nth-of-type(3) {
    background: none;
    &:after { display: none; }
}

.demo,
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    perspective: 2000px;
    position: relative;
    z-index: 1;
    transform: translate3d(0.1px, 0.1px, 0.1px )
}
.demo {
    flex-direction: row;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    .cards {
        flex-direction: row;
    }
}

.cards .card {
    &:nth-child(2) {
        &, &:before, &:after {
            animation-delay: 0.25s;
        }
    }
    &:nth-child(3) {
        &, &:before, &:after {
            animation-delay: 0.5s;
        }
    }
    &:nth-child(4) {
        &, &:before, &:after {
            animation-delay: 0.75s;
        }
    }
}