@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

header {
  display: flex;
  background-color: #141414;
  max-height: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .firstNav {
  display: flex;
  justify-content: space-between;
}
header #logo img {
  width: 40%;
  margin-left: 30px;
  max-width: 120px;
  height: auto;
}
header h1 {
  font-size: 2.5em;
  color: #000;
  margin-left: 10%;
  padding: 0;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header ul .navColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-right: 1em;
}
header ul .navColumn button {
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px;
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
}
header ul .navColumn button:hover {
  color: #000;
  cursor: pointer;
}
header ul .navColumn #login {
  background-color: dodgerblue;
  border-radius: 5px;
  border: none;
  color: #fff;
}
header ul .navColumn #register {
  background-color: white;
  border-radius: 5px;
  border: none;
}
header ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
header ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding-right: 30px;
  font-weight: bold;
}
header ul li a:hover {
  color: dodgerblue;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#141414 10%, dodgerblue);
  height: 50vh;
}
.infoContainer .infoContent h1 {
  font-size: 2.5em;
  color: #fff;
}
.infoContainer .infoContent p {
  font-size: 1.2em;
  color: #fff;
}
.infoContainer .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
}
.infoContainer .container .carousel {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  padding: 10px;
  margin: 0;
  white-space: nowrap;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
.infoContainer .container .carousel::-webkit-scrollbar {
  width: 0;
  background: transparent;
  /* Chrome/Safari/Webkit */
}
.infoContainer .container .item {
  display: inline-block;
  width: 120px;
  margin: 0 10px;
  height: 200px;
  background: rgba(0, 0, 0, 0.05) no-repeat center center;
  background-size: cover;
  position: relative;
  box-shadow: 0 0 10px #dfdfdf;
}
.infoContainer .container .item div {
  width: 100%;
  top: 10%;
  position: absolute;
  text-align: center;
  font-size: 1em;
  color: white;
}
.infoContainer .container .item h1 {
  top: 50%;
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 1em;
}
.infoContainer .container #img1 {
  background-image: url("../img/packart/colorless/1.jpg");
}
.infoContainer .container #img2 {
  background-image: url("../img/packart/colorless/2.jpg");
}
.infoContainer .container #img3 {
  background-image: url("../img/packart/colorless/3.jpg");
}
.infoContainer .container #img4 {
  background-image: url("../img/packart/colorless/4.jpg");
}
.infoContainer .container #img5 {
  background-image: url("../img/packart/darkness/1.jpg");
}
.infoContainer .container #img6 {
  background-image: url("../img/packart/darkness/2.jpg");
}
.infoContainer .container #img7 {
  background-image: url("../img/packart/dragon/1.jpg");
}
.infoContainer .container #img8 {
  background-image: url("../img/packart/dragon/2.jpg");
}
.infoContainer .container #img9 {
  background-image: url("../img/packart/dragon/3.jpg");
}
.infoContainer .container #img10 {
  background-image: url("../img/packart/dragon/4.jpg");
}

footer {
  background-color: #f5f5f5;
  align-items: center;
  padding: 1em;
}
footer #footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  bottom: 0;
  line-height: 200%;
}
footer #footer .socials {
  display: flex;
  flex-direction: row;
}
footer #footer .socials .logo {
  text-decoration: none;
  color: #1d1d37;
  font-size: 1.4em;
  padding-left: 40px;
}
footer #footer .socials .fa-facebook {
  color: #0047a3;
}
footer #footer .socials .fa-facebook:hover {
  font-size: 110%;
  color: #003272;
}
footer #footer .socials .fa-twitter {
  color: #76aed2;
}
footer #footer .socials .fa-twitter:hover {
  font-size: 110%;
  color: #6190b1;
}
footer #footer .socials .fa-instagram {
  background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
footer #footer .socials .fa-instagram:hover {
  font-size: 110%;
  background: -webkit-linear-gradient(45deg, #3551de, #4039c9, #7e2fb3, #ad1f6f, #b11d4e, #ce1313);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
footer #footer h4 {
  font-size: 1.2em;
  color: #000;
  padding-right: 30px;
  font-weight: bold;
}
footer #footer a {
  text-decoration: none;
}

/*# sourceMappingURL=global.style.css.map */
