#popUpContainer {
    position: fixed;
    top: 120px;
    right: 30px;
    width: 25%;
    height: 10%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    .popup {
        width: 100%;
        max-height: 90px;
        margin-bottom: 30px;
        background-color: #ff000058;
        border-radius: 10px;
        // Animation from left to right
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .popupMessage {
            color: rgb(202, 33, 33);
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
        }
        .popupButton {
            width: 20%;
            height: 20px;
            background-color: #7e7e7e80;
            border: none;
            border-radius: 30px;
            box-shadow: 0 0 10px rgba(75, 75, 75, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1rem;
            margin-top: -10px;
            font-weight: bold;
            color: #ffffff;
            cursor: pointer;
            flex-wrap: wrap;
        }

    }

    .coming {
        animation: slideInLeft 0.5s;
        animation-fill-mode: forwards;
    }
    .leaving {
        animation : slideInRight 0.5s;
        animation-fill-mode: forwards;
    }
    // Do an animation to go from left to right
    @keyframes slideInLeft {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }
    @keyframes slideInRight {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(100%);
        }
    }
}