<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <title>Login</title>
</head>
<body>
    <header></header>

    <form class="form" action="login" method="post">
        <div class="formRow">
            <input type="text"  id="username" name="username" placeholder="Enter username">
            <input type="password" id="password" name="password" placeholder="Enter password">
        </div>
        <input id="submit" type="submit" value="Log in"/>
    </form>

        <footer></footer>
<script src="./js/loader.script.js"></script>
</body>
</html>